.fullcoveredvideo{
	left:0px !important;
}
.feature-icon {
	font-size:40px;
	line-height:100px;
	border:1px solid;
	border-color: #004720;
	height:100px;
	width:100px;
	-webkit-transition:all 0.6s;
	-moz-transition:all 0.6s;
	-o-transition:all 0.6s;
	transition:all 0.6s;
	display:inline-block;
	text-align:center;
	margin-bottom:20px;
	border-radius:50%;
	/*color:rgb(48,113,169);*/
	color: #004720;
}
.feature-icon:hover {
	color:#fe4918;
	border-radius:0;
	border:1px solid #fe4918;
}
.feature-item p.description {
	color:#aaa;
	font-weight:300;
	margin-bottom:0;
	text-transform:uppercase;
}
#registerClubbtn{
	color: #00632c;
	border:2px solid #00632c;
	background-color: transparent;
}
#registerClubbtn:hover{
	background-color: #00632c;
	color: #fff;
}