.playerSubmitButton{
  background-color: #00632c;border: none;
  padding: .5em 1.5em;
  white-space: normal;
  text-align: center;
  display: inline-block;
}
.playerSubmitButton:hover{
  background-color: #111111;
}
.img-sizing{
	height: 158px !important;
	width: auto;
}